#intiface-connect-button .drawer-icon {
    color: #ff69b4; /* Hot Pink */
}

#intiface-connect-button .drawer-icon.flashing-icon {
    animation: flash 0.5s infinite;
}

@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0.2; }
    100% { opacity: 1; }
}

.intiface-status {
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.intiface-status.disconnected {
    background-color: #f44336; /* Red */
    color: white;
}

.intiface-status.connected {
    background-color: #4CAF50; /* Green */
    color: white;
}

#intiface-connect-action-button,
#intiface-scan-button,
#intiface-rescan-button {
    transition: color 0.3s ease, opacity 0.3s ease;
    background-color: transparent !important;
    border: none !important;
    padding: 5px !important;
}

#intiface-connect-action-button:hover,
#intiface-scan-button:hover,
#intiface-rescan-button:hover {
    opacity: 0.7;
}

#intiface-connect-action-button i,
#intiface-scan-button i,
#intiface-rescan-button i {
    margin-right: 5px;
}
